.title-contend {
  width: 97%;
  padding: 3% 0 0 3%;
  display: flex;
}

.title-box {
  display: flex;
  width: 300px;
  color: #376996;
  box-shadow: 0px 0px 10px 2px #0000005b;
  align-items: center;
  gap: 20px;
  height: 60px;
  padding: 5px;
  border-radius: 15px;
  justify-content: center;
}

.title-box > img {
  height: 50px;
}

.title-box:hover {
  transform: scale(0.99);
  transition: 0.1s;
  cursor: pointer;
}

.menu {
  display: flex;
  margin-left: 3%;
  gap: 24%;
}

h3 {
  text-decoration: underline;
  color: #376996;
}

h3:hover {
  cursor: pointer;
  color: #284b69;
  transform: scale(1.02);
  transition: 0.5s;
}

h3:active {
  transition: 0.2s;
  color: #000;
}
