.page-content {
  padding: 3%;
}

.info-content {
  margin-top: 3%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.info-msg {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  height: 40%;
}

.info-msg > img {
  height: 30px;
}

.resourse-content {
  width: 100%;
  height: auto;
  display: flex;
}

.forms-content {
    width: 50%;
}

.cards-content {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 1000px;
    overflow-y: scroll;
    padding: 5px;
}
