<div class="page-content">
  <div class="info-content">
    <msg-info [msg]="'Usa este apartado para añadir nuevos libros'" />
    <msg-info [msg]="'Toca en un libro para tener más información sobre él'" />
  </div>

  <div class="resourse-content">
    <div class="forms-content">
      <app-form-books
        (formDataEmitter)="onFormBooksDataReceived($event)"
      ></app-form-books>
      <br /><br />
      <app-form-author
        [id_book]="id_book"
        (formDataEmitter)="onFormAuthorsDataReceived($event)"
      ></app-form-author>
      <br /><br />
    </div>

    <div class="cards-content">
      <app-card-book *ngFor="let book of books" [book]="book"></app-card-book>
    </div>
  </div>
</div>
