<div class="form-content">
  <div class="info">
    <h2>Autores</h2>
    <hr />
  </div>
  <div class="btn-content">
    <button class="btn">Escoger existentes</button>
  </div>

  <div class="list-authors">
    <div class="list-input">
      <label>Autor</label>
      <input type="checkbox" name="" id="" />
    </div>
  </div>

  <div class="btn-content">
    <button class="btn">Añadir uno nuevo</button>
  </div>

  <div class="form">
    <div class="require">
      <label for="fisrt_name" class="label">Nombre:</label>
      <input type="text" name="first_name" class="input" />
    </div>
    <div class="require">
      <label for="last_name" class="label">Apellidos:</label>
      <input type="text" name="last_name" class="input" />
    </div>
    <div class="require">
      <label for="nationality" class="label">Nacionalidad:</label>
      <select name="nationality" id="nationality" class="input">
        <option *ngFor="let nationality of nationalities" [value]="nationality.id_nationality">{{nationality.nationality_name}}</option>
      </select>
    </div>
    <div class="require">
      <label for="birthdate" class="label">Fecha de nacimiento:</label>
      <input type="date" class="input" name="birthdate" />
    </div>
    <div class="require">
      <label for="place_birth" class="label">Lugar de nacimiento</label>
      <input type="text" class="input" name="place_birth" />
    </div>
  </div>
</div>
