.page {
  padding: 3%;
}

.info-content {
  margin-top: 3%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.info-msg {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  height: 40%;
}

.info-msg > img {
  height: 30px;
}

app-title {
  cursor: pointer;
}
