<div class="edit-content">
    <header>
        <img src="" alt="libro3">
        <h1>Don Quijote de la Mancha</h1>
    </header>

    <div class="options-content">
        <div class="options">
            <div class="msg">
                <img src="info.png" alt="info">
                <p>Acciones</p>
            </div>
            <div class="btn-options">
                <button class="btn-options-true">Editar información</button>
                <button class="btn-options-false">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="form-content">
        <div class="input">
            <label for="title" class="label">Título:</label>
            <input type="text" name="title" value="Don Quijote de la Mancha" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="editorial" class="label">Editorial:</label>
            <input type="text" name="editorial" value="Esta es la editorial" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="date_publication" class="label">Fecha de publicación:</label>
            <input type="date" name="date_publication" value="1605-01-01" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="literary_genre" class="label">Género literario:</label>
            <select name="" id="" class="input-info">
                <option value="1">Terror</option>
            </select>
        </div>
        <hr>
        <div class="input">
            <label for="amount" class="label">Cantidad:</label>
            <input type="number" name="amount" value="20" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="first_name" class="label">Nombre del autor:</label>
            <input type="text" name="first_name" value="Miguel Alguberre" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="last_name" class="label">Apellidos:</label>
            <input type="number" name="last_name" value="Guza Guzman" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="nationality" class="label">Nacionalidad:</label>
            <select name="" id="" class="input-info">
                <option value="1">Mexicana</option>
            </select>
        </div>
        <hr>
        <div class="input">
            <label for="birthdate" class="label">Fecha de nacimiento:</label>
            <input type="date" name="birthdate" value="2005-03-19" class="input-info">
        </div>
        <hr>
        <div class="input">
            <label for="place_birth" class="label">Lugar de nacimiento:</label>
            <input type="text" name="place_birth" value="San Cristóbal de las Casas" class="input-info">
        </div>
        <hr>
    </div>

    <app-buttons></app-buttons>

</div>